# python==3.10.14

bayanpy==0.7.7
cdlib==0.3.0
cython==3.0.10
cmake==3.29.2
demon==2.0.6
graspologic==3.3.0
igraph==0.11.5
karateclub==1.2.3
leidenalg==0.10.2
#littleballoffur==2.1.12
littleballoffur
#llama_index==0.10.58
matplotlib==3.8.4
#networkit==7.1
networkit==11.0
networkx==3.3
numpy==1.26.4
#numpy==2.1.1
openai==1.26.0
pandas==1.3.5
pycombo==0.1.7
python-igraph==0.11.5
python-levenshtein==0.25.1
python-louvain==0.16
Requests==2.32.3
scikit-learn==1.4.2
scipy==1.12.0
shuffle-graph==2.2.0
similarity-index-of-label-graph==2.0.1
tenacity==8.3.0
thresholdclustering==1.1
tqdm==4.66.4
pyautogen
